// LAYOUT

.flex-column {
  display: flex;
  flex-direction: column;
}
.block-tab {
  @include respond(tab-land) {
    display: block !important;
  }
}

// FONTS / COLORS

.font-white {
  color: white;
}

// MARGINS

.margin-bottom-small {
  margin-bottom: 2rem;

  @include respond(phone-big) {
    margin-bottom: 1rem;
  }
}
.margin-bottom-med {
  margin-bottom: 6rem;
}
.margin-bottom-large {
  margin-bottom: 10rem;
}

.margin-top-small {
  margin-top: 2rem;

  @include respond(phone-big) {
    margin-top: 1rem;
  }
}
.margin-top-med {
  margin-top: 6rem;
}
.margin-top-large {
  margin-top: 10rem;
}

// PADDINGS

.padding-bottom-small {
  padding-bottom: 2rem;

  @include respond(phone-big) {
    padding-bottom: 1rem;
  }
}
.padding-bottom-med {
  padding-bottom: 6rem;
}
.padding-bottom-large {
  padding-bottom: 10rem;
}

.padding-top-small {
  padding-top: 2rem;

  @include respond(phone-big) {
    padding-top: 1rem;
  }
}
.padding-top-med {
  padding-top: 6rem;
}
.padding-top-large {
  padding-top: 10rem;
}
