// COLORS / STYLES

.font-white {
  color: white;
}
.font-dark-blue {
  color: $color-dark-blue-1;
}
.background-dark-grey {
  background-color: $color-dark-grey;
}

// LAYOUT

.text-center {
  text-align: center;
}
.center {
  justify-content: center;
}

// MARGINS

.margin-bottom-small {
  margin-bottom: 2rem;
}
.margin-bottom-med {
  margin-bottom: 6rem;
}
.margin-bottom-large {
  margin-bottom: 10rem;
}

.margin-top-small {
  margin-top: 2rem;
}
.margin-top-med {
  margin-top: 6rem;
}
.margin-top-large {
  margin-top: 10rem;
}
