.section-navigation {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to top,
    ($color-dark-blue-1),
    ($color-dark-blue-2)
  );
}

.logo {
  flex: 0 0 15%;

  &__image {
    height: 10rem;
    width: 10rem;
  }
}
