.final-image {
  height: 40rem;
  background-image: url("../../../../Images/Final-main-image.jpg");
  background-size: cover;
  background-position: center;

  @include respond(phone-big) {
    height: 35rem;
  }
}
