*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 18.75em) {
  html {
    font-size: 35%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
  padding: 0.5rem;
}

.primary__heading {
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.secondary__heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.tertiary__heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.main-text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.sub-heading {
  font-size: 3rem;
}

.font-white {
  color: white;
}

.font-dark-blue {
  color: #1c355e;
}

.background-dark-grey {
  background-color: #2f2f2f;
}

.text-center {
  text-align: center;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-med {
  margin-bottom: 6rem;
}

.margin-bottom-large {
  margin-bottom: 10rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-med {
  margin-top: 6rem;
}

.margin-top-large {
  margin-top: 10rem;
}

.activity:not(:last-of-type) {
  margin-bottom: 5rem;
}

.activity__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.activity__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.activity__picture {
  margin-right: 2rem;
}

.activity__image {
  height: 10rem;
  width: 10rem;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.button:link,
.button:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6rem;
  border: none;
  background-color: #dd0000;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 10rem;
}

.button:hover {
  color: #c10000;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

.button:active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button__text {
  color: white;
  text-transform: uppercase;
  font-size: 4.5rem;
  padding: 2rem 4rem;
}

.button__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
  color: white;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__item {
  list-style: none;
}

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__link:hover,
.footer__link:active {
  opacity: 0.7;
}

.navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  list-style: none;
}

.navigation__item:not(:last-of-type) {
  margin-right: 2rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.2rem;
  color: white;
  padding: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.navigation__link:hover, .navigation__link:active {
  border-bottom: 0.2rem solid #00c6dc;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.section-activities {
  background-color: #2f2f2f;
}

.section-activities .activity-container {
  padding: 1rem;
  margin: 3rem 0rem;
}

.section-book {
  background-color: #656565;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-book .book {
  background-color: #2f2f2f;
  width: 100%;
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}

.section-book .book__container {
  height: 30rem;
  width: 100%;
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 40% 100%, 10% 65%);
          clip-path: polygon(35% 0, 100% 0, 100% 100%, 40% 100%, 10% 65%);
  background-color: #00002a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-book .button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-come {
  background-color: #2f2f2f;
}

.section-come .come {
  height: 20rem;
  -webkit-clip-path: polygon(79% 0, 100% 41%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(79% 0, 100% 41%, 100% 100%, 0 100%, 0 0);
  background: #00002a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-come .come__span {
  font-size: 4rem;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.final-image {
  height: 40rem;
  background-image: url("../../../../Images/Final-main-image.jpg");
  background-size: cover;
  background-position: center;
}

.section-footer {
  background-color: #1c355e;
  padding: 3rem 1rem;
}

.footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  padding: 1rem;
}

.footer__copyright--text {
  font-size: 1.6rem;
  color: white;
  font-weight: 300;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1-of-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 6rem) / 2);
          flex: 0 0 calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (2 * 6rem)) / 3);
          flex: 0 0 calc((100% - (2 * 6rem)) / 3);
}

.col-2-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
          flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}

.col-1-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (3 * 6rem)) / 4);
          flex: 0 0 calc((100% - (3 * 6rem)) / 4);
}

.col-2-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
          flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
}

.col-3-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
          flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
}

.section-hero {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../../../../Images/Hero-image.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../../Images/Hero-image.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hero .heading {
  text-align: center;
}

.section-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1c355e;
  padding: 1rem;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__image {
  height: 10rem;
  width: 10rem;
  padding: 1rem;
}

.section-why {
  background-image: url("../../../../Images/section-why-background-image.jpg");
  background-size: cover;
  background-position: center;
}

.why {
  margin: 0rem 4rem;
}

.why__title {
  margin: 6rem 0rem;
}

.why__text {
  margin-bottom: 6rem;
  background-color: rgba(47, 47, 47, 0.8);
  padding: 3rem;
}
/*# sourceMappingURL=page1Main.css.map */