// GRID DIMENSIONS

$grid-width: 114rem;
$gutter-vertical-small: 4rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// COLORS

$color-dark-blue-1: #1c355e;
$color-dark-blue-2: rgb(0, 0, 95);
$color-dark-blue-3: rgb(0, 0, 42);

$color-light-blue-1: rgb(0, 198, 220);
